.query-panel {
  max-height: 100%;
  overflow: auto;
}

.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
}

.editor #codeArea {
  outline: none;
  padding-left: 50px !important;
}

.editor pre {
  padding-left: 50px !important;
  /* background: rgb(243, 252, 164) !important; */
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #888;
  text-align: right;
  width: 30px;
  font-weight: 100;
}
