/*** Screen Setup
Allow #root to fill the height of the screen, then hardcode the height of main to be the height of
the screen minus the height of the navbar (which should be hardcoded to 64px).
***/
html, body, #root {
  height: 100vh;
}

main {
  height: calc(100% - 64px);
}
/*** END Screen Setup ***/

/*** Split.js ***/
.split-horizontal {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
/*** END Split.js ***/

/*** Split Panels ***/
.split-horizontal--right {
  height: 100%;
}
/*** END Split Panels ***/